.main {
    padding: 20px;
}

.registraion {
    background-color: rgb(212, 220, 226);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registraion h2 {
    margin-top: 0;
    color: blanchedalmond;
}

.registraion input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px rgb(235, 219, 219);
    border-radius: 4px;
    background-color: aliceblue;
}

.registraion button {
    width: 100%;
    padding: 10px;
    background-color: rgb(209, 201, 187);
    color: aliceblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.about__title {
    text-align: center;
    font-size: 40px;
}

.about__link {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: rgb(62, 120, 167);
    color: rgb(255, 255, 255);
    text-decoration: none;   
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.services {
    text-align: center;
    font-size: 20px;
    background-color: rgb(189, 200, 210);
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.services__title {
    width: 100%;
}

.doctors {
    text-align: center;
    font-size: 20px;
    background-color: rgb(189, 200, 210);
}

.services__image {
    margin-left: 0;
    margin-right: 100px;
    display: block;
}

.about__image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.doctors__image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.about {
    display: flex;
    gap: 10px;
}

.about__wrap-right {
    width: 500px;
    flex-shrink: 0;
}

.about {
    background-color: rgb(190, 206, 222);
    color: rgb(11, 11, 11);
    padding: 10px;
}

.about__button {
    display: block;
    padding: 10px;
    color: rgb(79, 83, 87);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    margin-top: auto;
    margin-right: auto;
}

.about__wrap-left {
    display: flex;
    flex-direction: column;
}

.doctors__card {
    width: 350px;
    padding: 15px;
    background-color: rgb(226, 234, 241);
    color: black;
    box-shadow: 1px 2px 20px 5px #d7d7d7;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.doctors__name {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.doctors__job {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 14px;
    font-style: italic;
}

.doctors__desc {
    margin-top: 0;
    margin-bottom: 15px;
}

.doctors__link {
    display: block;
    padding: 10px;
    background-color: rgb(62, 120, 167);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    margin-top: auto;
}

.doctors__list {
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;
}
.record__form {
    width: 400px;
    background-color: rgb(190, 206, 222);
    margin: auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.record__input {
    width: 100%;
}
.record__title {
    text-align: center;
}
.record__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(62, 120, 167);
    color: rgb(255, 255, 255);   
    transition: background-color 0.3s ease; 
}
.record {
    margin-bottom: 20px;
}
.services__item-link{
    color: black;
    text-decoration: none;
    padding: 100;
    color: rgb(18, 18, 19);
    text-decoration: none;
}
.about__link {
    background-color: rgb(62, 120, 167);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.about__link:active {
    background-color: #6ba1d8;
}
.services__item-link:hover {
    color:rgb(53, 96, 235);
    text-decoration: underline;
}
.doctors__card:hover {
    background-color: rgb(88, 147, 236);
    transform: scale(1.01);
}
.about__link:hover {
    background-color: rgb(88, 147, 236);
    transform: scale(1.01);
}
.record__button:hover {
    background-color: rgb(88, 147, 236);
    transform: scale(1.01);
}
.procedures__card {
    width: 380px;
    padding: 15px;
    background-color: rgb(226, 234, 241);
    color: black;
    box-shadow: 1px 2px 20px 5px #d7d7d7;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.procedures {
    text-align: center;
    font-size: 20px;
    background-color: rgb(189, 200, 210);
}

.procedures__image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.procedures__list {
    padding: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: 110px;
    margin-right: auto;
}
.procedures__card:hover {
    background-color: rgb(88, 147, 236);
    transform: scale(1);
}
.doctors__link:active {
    background-color: #6ba1d8;
}
.doctors__link:hover {
    background-color: rgb(10, 40, 88);
    transform: scale(1.01);
}